.active{
    color: gold
}
.dialog {
    margin-bottom: 5px;    
}
.dialog a.activeLink{
    color: gold
}
.dialog a{
    color: #333;
    text-decoration: none;
}
.dialog img {
    width: 50px;
    border-radius: 50%;
    height: 50px;
    margin-right: 10px;
}