.userItem {
    display: flex;
    justify-content: flex-start;
}
.wrap {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px 40px 10px 15px;
}
.avatar {
    width: 30px;
    height: 30px;
    border-right: 10px;
}