.friends {
    margin-top: 20px;
}
.friends .friendsList {
    display: flex;
    flex-wrap: wrap;
    padding: 2%;
    justify-content: space-between;
    overflow: hidden;
}

@media only screen and (max-width: 991px)  {
    .friends {
        display: none;
    }
}
