.header {
    grid-area: header;
    background: bisque;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.header_logo {
    width: 18%;
}
.loginBlock {
    margin-left: auto;
    margin-right: 20px;
}
.loginBlock a {
    text-transform: uppercase;
    color: #000;
    text-decoration: none;
}
.loginBlock a:hover {
    text-decoration: underline;
}
.userData {
    margin-right: 20px;
    text-transform: uppercase;
}
.rightWrap {
    display: flex;
    align-items: center;
}
.rightWrap button {
    width: 120px;
}
.loginName {
    margin-right: 15px;
    font-weight: bold;
}

@media only screen and (max-width: 991px)  {
    .header_logo {
        width: 40%;
    }
}