.nav {
    grid-area: nav;
    background: aliceblue;
    padding: 10px;
}
.nav .nav_list .item {
    list-style: none;
}
.nav .nav_list .item a{
    color: #333;
    text-decoration: none;
    font-size: 20px;
    text-transform: uppercase;
}
.nav .nav_list .item a:hover{
    text-decoration: underline;
}
.nav .nav_list .item a.activeLink{
    color: gold;
}

.disabledLink {
    pointer-events: none;    
}
.disabledLink a{
    color: #bbbbbb !important;   
}

@media only screen and (max-width: 991px)  {
    .disabledLink {
        display: none !important;
    }
    .nav .nav_list {
        display: flex;
        justify-content: center;
        padding: 10px;
    }
    .nav .nav_list .item {
        margin-right: 15px;
    }
    .nav .nav_list .item:last-child {
        margin-right: 0;
    }
}