.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
    position: relative;
}
.dialogsItems {
    padding: 10px;
}
.dialogsItems .active{
    color: gold
}
.dialogsItems .dialog a.activeLink{
    color: gold
}
.dialogsItems .dialog a{
    color: #333;
    text-decoration: none;
}
.messages {
    padding: 15px;
    margin: 10px;
    border: 2px solid gold;
    border-radius: 10px;
    position: relative;
    padding-bottom: 150px;
    height: 70vh;
}
.messagesWrap {
    max-height: 100%;
    overflow-y: scroll;
}
.messagesWrap::-webkit-scrollbar { width: 0; }
.messagesWrap { -ms-overflow-style: none; }
.messagesWrap { overflow: -moz-scrollbars-none; }

.addMessageForm {
    position: absolute;
    bottom: 10px;
    width: 100%;
    left: 0;
    padding: 10px;
}
.formButtons {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}
.formButtons button{
    margin-right: 5px;
}
