.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}
.dialogsItems {
    padding: 10px;
}
.dialogsItems .active{
    color: gold
}
.dialogsItems .dialog a.activeLink{
    color: gold
}
.dialogsItems .dialog a{
    color: #333;
    text-decoration: none;
}
.dialog {

}
.messages {
    padding: 10px;
}

.message {

}